%li.dd-item{'data-id' => menu.id}
  .dd-handle
    = menu.menu? ? menu.title : link_to(menu.title, menu.link)
    .pull-right
      - if menu.menu?
        = link_to i('plus-sign'), new_menu_path(parent_id: menu.id)
      - if menu.menu? || menu.link?
        = link_to i(:edit), edit_menu_path(menu)
        = link_to i(:trash), menu_path(menu), method: :delete
      - else
        = link_to i(:trash), menu_path(menu), method: :delete, 'data-confirm' => t('.confirm_delete_menu', menu: menu.title)
  - if menu.children.any?
    %ol.dd-list
      - menu.children.each do |child|
        %li.dd-item{'data-id' => child.id }
          .dd-handle
            = link_to child.title, child.link
            .pull-right
              = link_to i(:edit), edit_menu_path(child) unless child.page?
              = link_to i(:trash), menu_path(child), method: :delete, 'data-confirm' => t('.confirm_delete_menu', menu: child.title)
