%li.dd-item{'data-id' => menu.id}
  .dd-handle
    - if menu.menu?
      = menu.title
    - else
      = link_to menu.title, menu.link
    .pull-right
      = link_to new_menu_path(parent_id: menu.id) do
        %i.glyphicon.glyphicon.glyphicon-plus-sign
      = link_to edit_menu_path(menu) do
        %i.glyphicon.glyphicon.glyphicon-edit
      = link_to menu_path(menu), method: :delete do
        %i.glyphicon.glyphicon.glyphicon-trash
  - if menu.children.any?
    %ol.dd-list
      - menu.children.each do |child|
        %li.dd-item{'data-id' => child.id }
          .dd-handle
            = link_to child.title, child.link
            .pull-right
              = link_to menu_path(child), method: :delete do
                %i.glyphicon.glyphicon.glyphicon-trash
