.col-md-offset-2.col-md-7
  %h3= t('.edit_menu')
  %hr/
  = bootstrap_form_for @menu, html: { class: 'form-horizontal' } do |f|
    = f.text_field :title
    - if @menu.menu_type == "link"
      = f.text_field :link

    = f.submit class: "btn btn-primary pull-right"
