- breadcrumb :new_menu
.panel.panel-default.panel-navtabs
  .panel-heading
    %h2 Create Menu
  .panel-body
    .tab-content
      - if @parent_id.blank?
        #menu-tab.tab-pane{class: @menu.menu_type == 'menu' ? 'active' : ''}
          = bootstrap_form_for @menu do |f|
            = f.text_field :title
            = f.hidden_field :menu_type, value: 'menu'
            = f.submit "Create menu", class: "btn btn-primary pull-right"
      #page-tab.tab-pane{class: @menu.menu_type == nil || @menu.menu_type == 'page' ? 'active' : ''}
        = bootstrap_form_for @menu do |f|
          = f.collection_select :page_id, Page.orphans, :id, :title
          = f.hidden_field :parent_id, value: @parent_id
          = f.hidden_field :menu_type, value: 'page'
          = f.submit "Create menu", class: "btn btn-primary pull-right"
      #link-tab.tab-pane{class: @menu.menu_type == 'link' ? 'active' : ''}
        = bootstrap_form_for @menu do |f|
          = f.text_field :title
          = f.text_field :link
          = f.hidden_field :parent_id, value: @parent_id
          = f.hidden_field :menu_type, value: 'link'
          = f.submit "Create menu", class: "btn btn-primary pull-right"
.tabs-below
  %ul.nav.nav-tabs
    - if @parent_id.blank?
      %li{class: @menu.menu_type == 'menu' ? 'active' : ''}
        %a{href: '#menu-tab', data: {toggle: 'tab'}}
          Create Menu
    %li{class: @menu.menu_type == nil || @menu.menu_type == 'page' ? 'active' : ''}
      %a{href: '#page-tab', data: {toggle: 'tab'}}
        Select Page
    %li{class: @menu.menu_type == 'link' ? 'active' : ''}
      %a{href: '#link-tab', data: {toggle: 'tab'}}
        Select Link
