.col-md-8.col-md-offset-2
  .panel-heading
    %h1
      = t('.users')
      = link_to i(:plus), new_user_path, class: 'pull-right'
  .panel-body
    %table.table.table-hover
      %thead
        %th= t('.email')
        %th= t('.role')
        %th= t('.tools')
      %tbody
        - @users.each do |user|
          %tr
            %td= user.email
            %td= user.role.titleize
            %td
              = link_to i(:trash), user_path(user), method: :delete if can? :destroy, user
              = link_to i(:edit), edit_user_path(user) if can? :edit, user
