.panel.panel-default
  .panel-heading
    %h3
      = t('.users')
      .pull-right
        = link_to new_user_path do
          %i.glyphicon.glyphicon-plus
  .panel-body
    %table.table.table-hover
      %thead
        %th= t(:email)
        %th= t(:role)
        %th= t(:tools)
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.email
            %td
              = user.role.titleize
            %td
              = link_to edit_user_path(user) do
                /%i.glyphicon.glyphicon.glyphicon-edit
              = link_to user_path(user), method: :delete do
                %i.glyphicon.glyphicon.glyphicon-trash
