/ Modal
#insertImageModal.modal.fade.modal-navtabs
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h2#myModalLabel.modal-title= t('.insert_image')
      .modal-body
        .tab-content
          #select-image.tab-pane.active
            = render partial: 'images/image_small', collection: Image.all, as: :image
            .modal-footer
              = button_tag "Insert Image", id: 'insert-image', class: "btn btn-primary"
          #upload-image.tab-pane
            - image = Image.new
            = simple_form_for image, html: { class: 'form-horizontal' }, remote: true do |f|
              = f.input :title
              = f.input :file, as: :file
              = f.button :submit, class: "btn btn-primary"
    .tabs-below
      %ul.nav.nav-tabs
        %li.active
          %a{href: '#select-image', role: 'tab', data: {toggle: 'tab'}}
            = t('.select_image')
        %li
          %a{href: '#upload-image', data: {toggle: 'tab'}}
            = t('.upload_image')



