/ Modal
#insertImageModal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h2#myModalLabel.modal-title Insert Image
      .tab-content
        #select-image.tab-pane.active
          .modal-body
            = render partial: 'images/image_small', collection: Image.all, as: :image
          .modal-footer
            = button_tag "Insert Image", id: 'insert-image', class: "btn btn-primary"
        #upload-image.tab-pane
          .modal-body
            - @image = Image.new
            = simple_form_for @image, html: { class: 'form-horizontal' }, remote: true do |f|
              = f.input :title
              = f.input :file, as: :file
              .modal-footer
                = f.button :submit, class: "btn btn-primary"
      %ul.nav.nav-tabs
        %li.active
          %a{href: '#select-image', role: 'tab', data: {toggle: 'tab'}}
            Select Image
        %li
          %a{href: '#upload-image', data: {toggle: 'tab'}}
            Upload Image
