- if can? :create, Event
  - content_for :navbar_tools do
    = link_to t('.create_event'), new_event_path, class: "btn btn-xs btn-primary"

  - breadcrumb :events

.col-md-6.col-md-offset-3
  .heading
    %h2 Events
    %hr/
  %ul.unstyled-list
    - @events.each do |event|
      %h3
        = link_to event.title, event
        %small
          = event.date.strftime("%Y-%m-%d")
          - if can? :edit, event
            .pull-right
              = link_to edit_event_path(event) do
                = i(:edit)
              = link_to event, method: :delete, data: {confirm: t('.delete_event')} do
                = i(:trash)
