.col-md-7.col-md-offset-2
  - if can? :edit, @event
    .quick-edit
      .btn-group
        = button_tag t('helpers.quick_edit'), class: "edit-content btn btn-info", data: {event: @event.id}
        %button.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.caret
        %ul.dropdown-menu
          = navbar_item t('.edit_event'), edit_event_path(@event)
  .heading
    %h1
      = @event.title
      %small
        = @event.start_time.strftime("%Y-%m-%d")
  .editable-content
    = raw @event.content
