.panel.panel-default
  .panel-heading
    Page form
  .panel-body
    = simple_form_for @page, html: { class: 'form-horizontal' } do |f|
      = f.input :title
      = f.input :content, input_html: { class: "summernote_editor" }

      = f.input :menu_id, as: :hidden, input_html: { value: params[:menu_id] }

      = f.button :submit, class: "btn-primary"
      = link_to 'Cancel', pages_path, class: "btn btn-default"
