.row
  .col-lg-6
    .heading
      %h3
        = t('.menus')
        .pull-right
          = link_to i('floppy-disk'), '#', id: 'save-menu-order'
          = link_to i(:plus), "#", data: {toggle: "modal", target: "#meny_modal"}
    %hr/
    .dd
      %ol.dd-list
        = render @menus
  .col-lg-6
    .heading
      %h3
        = t('.pages')
        = link_to i(:plus), new_page_path, class: 'pull-right'
    %hr/
    %ol.unstyled-list
      - @orphan_pages.each do |page|
        %li
          = link_to page.title, page
          .pull-right
            = link_to i(:edit), edit_page_path(page)
            = link_to i(:trash), page_path(page), method: :delete, 'data-confirm' => t('.confirm_delete_page', page: page.title)

= render 'menus/new_menu_modal'
