.row
  .col-lg-6
    .heading
      %h3
        = t('.menus')
        .pull-right
          = link_to '#', id: 'save-menu-order' do
            %i.glyphicon.glyphicon-floppy-disk
          = link_to "#", data: {toggle: "modal", target: "#meny_modal"} do
            %i.glyphicon.glyphicon-plus
    %hr/
    .dd
      %ol.dd-list
        = render @menus
  .col-lg-6
    .heading
      %h3
        = t('.pages')
        .pull-right
          = link_to new_page_path do
            %i.glyphicon.glyphicon-plus
    %hr/
    %ol.unstyled-list
      - @orphan_pages.each do |page|
        %li
          = link_to page.title, page
          .pull-right
            = link_to edit_page_path(page) do
              %i.glyphicon.glyphicon.glyphicon-edit
            = link_to page_path(page), method: :delete, 'data-confirm' => t('.confirm_delete_page', page: page.title) do
              %i.glyphicon.glyphicon.glyphicon-trash

= render 'menus/new_menu_modal'
