.page-header
  %h1 Pages

.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        Tools
      .panel-body
        = link_to "Create new page", new_page_path, class: "btn btn-primary"
        = link_to "Create new menu", new_menu_path, class: "btn btn-primary"

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        Menus
      .panel-body
        %ol
          - @menus.each do |menu|
            %li
              = menu.title
              .pull-right
                = link_to new_page_path(menu_id: menu.id) do
                  %i.glyphicon.glyphicon.glyphicon-plus-sign
                = link_to edit_menu_path(menu) do
                  %i.glyphicon.glyphicon.glyphicon-edit
                = link_to menu_path(menu), method: :delete do
                  %i.glyphicon.glyphicon.glyphicon-trash
              - if menu.pages.any?
                %ol
                  - menu.pages.each do |child|
                    %li
                      = link_to child.title, child
                      .pull-right
                        = link_to edit_page_path(child) do
                          %i.glyphicon.glyphicon.glyphicon-edit
                        = link_to page_path(child), method: :delete do
                          %i.glyphicon.glyphicon.glyphicon-trash
  .col-sm-6
    .panel.panel-default
      .panel-heading
        Hidden Pages
      .panel-body
        %ol
          - @orphan_pages.each do |page|
            %li
              = link_to page.title, page
              .pull-right
                = link_to edit_page_path(page) do
                  %i.glyphicon.glyphicon.glyphicon-edit
                = link_to page_path(page), method: :delete do
                  %i.glyphicon.glyphicon.glyphicon-trash
