%h1
  = t('.reservations')
  %hr/
.table-responsive
  %table.table
    %thead
      %tr
        %th= t('.name')
        %th= "#{t('.location')}, #{t('.date')}"
        %th= t('.invoice_address')
        %th= t('.approved')
        %th= t('.comment')
        - if can? [:edit, :destroy], @reservations
          %th{colspan: 2}
    %tbody
      - @reservations.each do |reservation|
        %tr{class: reservation.approved? ? '' : 'danger'}
          %td
            = link_to reservation.name, reservation
            %br/
            = reservation.phone
            %br/
            = reservation.email
          %td
            = reservation.locations.map(&:name).join(', ')
            %br/
            = reservation.date.to_s
          %td= reservation.invoice_address
          %td= reservation.approved ? i('ok') : i('remove')
          %td= truncate(reservation.comment, length: 100)
          %td
            - if !reservation.approved? && can?(:update, reservation)
              = link_to i('check'), '#', class: 'confirm_approve', data: { reservation: reservation.id, target: "#approveModal", toggle: "modal" }
          %td
            - if can? :edit, reservation
              = link_to i('edit'), edit_reservation_path(reservation)
            - if can? :destroy, reservation
              = link_to i('trash'), reservation, method: :delete, data: { confirm: t('.confirm') }

#approveModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"} ×
        %h4.modal-title= t('.approve_reservation')
      .modal-body
        %p= t('.confirm_approve')
      .modal-footer
        = bootstrap_form_tag url: approve_reservation_path(id: 0), html: {id: 'send_approval_mail_link' } do |f|
          .pull-left
            = f.check_box :send_approval_mail, id: 'send_approval_mail', label: t('.send_approval_mail'), checked: true

          = submit_tag 'Godkänn', class: 'btn btn-primary'
          %button.btn.btn-default{"data-dismiss" => "modal"}= t('helpers.cancel')
