.row
  .col-md-6.col-md-offset-3
    .heading
      %h1
        Bokning av
        %small
          = @reservation.locations.map(&:name).join(', ')
    %h3= t('.date')
    %p= @reservation.date
    %h3= t('.name')
    %p= @reservation.name
    - if can? :edit, @reservation
      %h3= t('.approved')
      %p= @reservation.approved? ? t('helpers.yeah') : t('helpers.nope')
      %h3= t('.phone')
      %p= @reservation.phone
      %h3= t('.email')
      %p= @reservation.email
    %h3= t('.comment')
    %p= @reservation.comment


