<h1>Din boking av <%= @reservation.locations_to_s %> är godkänd!</h1>

<h2>Detta var den information du angav: </h2>

<h3>Datum: </h3>
<p><%= @reservation.date %></p>

<h3>Namn: </h3>
<p><%= @reservation.name %></p>

<h3>Telefonnummer: </h3>
<p><%= @reservation.phone %></p>

<h3>Email: </h3>
<p><%= @reservation.email %></p>

<h3>Kommentar: </h3>
<p><%= @reservation.comment %></p>
