#navbar-wrapper
  = render 'layouts/navbar'
.cover-wrapper
  .container-fluid
    .cover-text
      %p
        Vittskövle
.event-wrapper
  .container
    .row
      .col-xs-12
        %h3
          Händer i vittskövle
    .row
      = render @posts
.info-wrapper
  .container-fluid
    .row
      .col-md-6.no-padding
        .img-slott
      .col-md-6.no-padding
        .info-text.editable
          - if can? :edit, Page
            #quick-edit
              = button_tag "Quick-Edit", id: "edit-content", class: "btn btn-edit btn-default"
          = editable_field :info_text
.sections-wrapper
  .container
    .standing-images.row
      .col-md-4.col-sm-6
        = image_tag 'https://placehold.it/350x450', class: 'img-responsive', size: '350x450'
        .image-text
          .image-title
            Historia
          .image-caption
            Byn
      .col-md-4.col-sm-6
        = image_tag 'https://placehold.it/350x450', class: 'img-responsive', size: '350x450'
        .image-text
          .image-title
            Byalaget
          .image-caption
            Medlemmarna
      .col-md-4.col-sm-6
        = image_tag 'https://placehold.it/350x450', class: 'img-responsive', size: '350x450'
        .image-text
          .image-title
            Företagen
          .image-caption
            Undertext
.footer-wrapper
  .container


