#navbar-wrapper
  = render 'layouts/navbar'
.cover-wrapper
  .container-fluid
    .cover-text
      %p
        Vittskövle
.event-wrapper
  .container
    .row
      .col-xs-12
        %h3
          Händer i vittskövle
    .row
      .col-lg-4
        .event-text
          %h2
            Bymöte
            %br/
            %small.event-date
              24/7
          %hr/
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dignissimos at omnis ipsum molestiae, sequi aliquid earum. Repellat earum accusamus, quibusdam consequuntur esse ab, modi, laboriosam officia sit nemo placeat.
          .pull-right
            %a Läs mer
      .col-lg-4
        .event-text
          %h2
            Äta korv
            %br/
            %small.event-date
              24/7
          %hr/
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dignissimos at omnis ipsum molestiae, sequi aliquid earum. Repellat earum accusamus, quibusdam consequuntur esse ab, modi, laboriosam officia sit nemo placeat.
          .pull-right
            %a Läs mer
      .col-lg-4
        .event-text
          %h2
            Ha en pub
            %br/
            %small.event-date
              24/7
          %hr/
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dignissimos at omnis ipsum molestiae, sequi aliquid earum. Repellat earum accusamus, quibusdam consequuntur esse ab, modi, laboriosam officia sit nemo placeat.
          .pull-right
            %a Läs mer
.info-wrapper
  .container-fluid
    .row
      .col-md-6.no-padding
        .img-slott
      .col-md-6.no-padding
        .info-text.editable
          - if can? :edit, Page
            #quick-edit
              = button_tag "Quick-Edit", id: "edit-content", class: "btn btn-edit btn-default"
          = editable_field :info_text
.sections-wrapper
  .container
    .standing-images.row
      .col-md-4.col-sm-6
        = image_tag 'http://placehold.it/350x450', class: 'img-responsive'
        .image-text
          .image-title
            Historia
          .image-caption
            Byn
      .col-md-4.col-sm-6
        = image_tag 'http://placehold.it/350x450', class: 'img-responsive'
        .image-text
          .image-title
            Byalaget
          .image-caption
            Medlemmarna
      .col-md-4.col-sm-6
        = image_tag 'http://placehold.it/350x450', class: 'img-responsive'
        .image-text
          .image-title
            Företagen
          .image-caption
            Undertext
.footer-wrapper
  .container


