- cache_unless current_user, cache_key_homepage do
  #navbar-wrapper
    = render 'layouts/navbar', nav_menus: @nav_menus
  .cover-wrapper
    .container-fluid
      .cover-text
        %p
          Vittskövle
  .event-wrapper
    .container
      .row
        .col-xs-12
          %h3
            Händer i Vittskövle
      .row
        = render @events
      .row
        %h3= link_to t('.show_all_events'), calendar_path, class: 'calendar-link'
  .info-wrapper
    .container-fluid
      .row
        .col-md-6.no-padding
          .img-slott
        .col-md-6.no-padding
          .info-text.editable
            = editable_field :info_text
  .sections-wrapper
    .container
      .standing-images.row
        .col-md-4.col-sm-6.image-container
          = image_tag 'https://placehold.it/350x450', class: 'img-responsive', size: '350x450'
          .image-text
            .image-title
              = link_to 'Byn', 'byn-vittskovle'
            .image-caption
        .col-md-4.col-sm-6.image-container
          = image_tag 'https://placehold.it/350x450', class: 'img-responsive', size: '350x450'
          .image-text
            .image-title
              = link_to 'Föreningarna', 'foreningarna-i-vittskovle'
            .image-caption
        .col-md-4.col-sm-6.image-container
          = image_tag 'https://placehold.it/350x450', class: 'img-responsive', size: '350x450'
          .image-text
            .image-title
              = link_to 'Företagen', 'foretagen-i-vittskovle'
            .image-caption

  .footer-wrapper
    .container
      .col-md-7.footer-map
        %iframe{height: 300, width:500, frameborder: 0, src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8957.279502831543!2d14.153956051650999!3d55.85711638330903!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTXCsDUxJzI2LjIiTiAxNMKwMDgnNDMuOCJF!5e0!3m2!1sen!2sse!4v1424715049508"}
      .col-md-5
        .footer-text.editable
          = editable_field :contact_text
