.panel.panel-default
  .panel-body
    = bootstrap_form_for post do |f|
      = f.text_field :title
      = f.text_area  :content

      = f.datetime_select :date

      = f.submit
      = link_to 'Cancel', :back, class: "btn btn-default"
