.panel.panel-default
  .panel-heading
    %h3
      Post
  .panel-body
    = simple_form_for post, html: { class: 'form-horizontal' } do |f|
      = f.input :title
      = f.input  :content, input_html: { class: "summernote_editor" }

      = f.button :submit, class: "btn-primary"
      = link_to 'Cancel', :back, class: "btn btn-default"
