.col-sm-3
  .photo
    .head
      %h4
        = image.title
        = "Unknown title" if image.title.blank?
    .img
      = image_tag image.file.thumb('300x300#').url
      .overlay
        .links
          = link_to edit_image_path(image) do
            %i.glyphicon.glyphicon-edit
          = link_to image_path(image), method: :delete, data: {confirm: "Do you really want to delete this?"} do
            %i.glyphicon.glyphicon-trash

