- cache cache_key_for_navbar do
  %nav.navbar.navbar-fixed-top{role: 'navigation'}
    .default-nav.navbar-default
      .container
        = navbar_header brand: "#{i(:home)} Hem", brand_link: '/'
        = navbar_collapse do
          = navbar_group align: :right, class: 'foo', id: 'menu' do
            = render partial: 'menus/navbar_menu', collection: nav_menus, as: :menu
            - if current_user.try(:admin?)
              = navbar_dropdown t(:admin) do
                - if content_for(:navbar_tools)
                  =  yield :navbar_tools
                  = navbar_dropdown_divider
                = navbar_item t('.users'), users_path
                = navbar_item t('.pages'), pages_path
                = navbar_item t('.images'), images_path
                = navbar_item t('.events'), events_path
                = navbar_item t('.reservations'), reservations_path
                = navbar_item t('.documents'), documents_path
            - if current_user && current_user.user? && can?(:read, Document)
              = navbar_item t('.documents'), documents_path
            - if current_user
              %li= link_to t('.sign_out'), '/sign_out', method: :delete
            - else
              = navbar_item t('.sign_in'), '/sign_in'
