= navbar fixed: :top do
  = navbar_header brand: 'PVPersson', brand_link: '/'
  = navbar_collapse do
    = navbar_group class: 'foo', id: 'menu' do
      - @nav_menus.each do |menu|
        = navbar_dropdown menu.title do
          - menu.pages.each do |page|
            = navbar_item page.title, page_path(page)
    = navbar_group align: 'right' do
      - if can? :manage, :all
        = navbar_dropdown "Admin" do
          = navbar_item "Pages", pages_path
          = navbar_item "Posts", posts_path
          = navbar_item "Images", images_path
      - if current_user
        = navbar_item "Sign Out", '/sign_out'
      - else
        = navbar_item "Sign In", '/sign_in'
