%nav.navbar.navbar-fixed-top{role: 'navigation'}
  .default-nav.navbar-default
    .container
      = navbar_header brand: 'PVPersson', brand_link: '/'
      = navbar_collapse do
        = navbar_group class: 'foo', id: 'menu' do
          - @nav_menus.each do |menu|
            - if menu.children.any?
              = navbar_dropdown menu.title do
                - menu.children.each do |child|
                  = navbar_item child.title, child.link
            - else
              = navbar_item menu.title, "/#{menu.link}"
        = navbar_group align: 'right' do
          - if current_user
            %li= link_to "Sign Out", '/sign_out', method: :delete
          - else
            = navbar_item "Sign In", '/sign_in'
  - if current_user.try(:admin?)
    .admin-nav
      .container.navbar-inverse
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-collapsable-admin", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand Admin
        #navbar-collapsable-admin.collapse.navbar-collapse
          = yield :navbar_tools
          = navbar_group align: 'right' do
            - if can? :manage, :all
              = navbar_item "Pages", pages_path
              = navbar_item "Posts", posts_path
              = navbar_item "Images", images_path
