!!!
%html
  %head
    %title Vittskövleby
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{name: "viewport" , content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/google_analytics' if Rails.env == 'production'
  %body
    = render 'layouts/navbar', nav_menus: @nav_menus
    .container.top-container
      = render 'flash'
      = breadcrumbs separator: ' / '
      = yield
